[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
pydantic = "*"
pydantic-settings = "*"
pillow = "*"
exceptiongroup = "*"
numpy = "*"
tensorflow = "*"
onnxruntime = "==1.23.2"
opencv-python = "*"
scipy = "*"
shapely = "*"
transformers = ">=4.51.1,<5.0"
torch = ">=2.7.0"
accelerate = ">=1.10.0"

[dev-packages]
ultralytics = "*"

[requires]
python_version = "3.13"
