[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
pydantic = "*"
pydantic-settings = "*"
pillow = "*"
tflite = "*"
exceptiongroup = "*"
tflite-runtime = "*"
numpy = "==1.26.4"
onnxruntime = "*"
opencv-python = "*"
scipy = "*"
shapely = "*"

[dev-packages]

[requires]
python_version = "3.9"
