apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: huggingface-cache
  namespace: light-object-detect
  labels:
    app.kubernetes.io/name: light-object-detect
    app.kubernetes.io/part-of: opensensor
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: do-block-storage
  resources:
    requests:
      storage: 5Gi

